
.navbar{
    width:90%;
    margin:auto;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: black;
    margin:20px;
}
.product-div{
    width:100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.items{
    display: inline-block;
    width:40%;
    height: 80px;
    /* border:1px solid red; */
}
.items>div,img{
    display: inline-block;
    /* border: 1px solid black; */
}
.items>.title{
    position: relative;
    top:-18px;
    /* border:1px dashed pink */
;}
button{
    position:relative;
    top:20px;
    margin-right: 20px;
    float: right;
    padding: 10px;
    background-color: black;
    color: white;
}
.product-container{
    width:60%;
    margin:auto;
    /* border:1px solid black; */
    display: flex;
}
.desc{
    display: flex;
    flex-wrap: wrap;
    width:60%;
    /* background-color: bisque; */
}
.admin-container{
    text-align: center;
    width:80%;
    margin:auto;
    /* display: inline-block; */
    border:1px solid red;

}
.admin-item{
    display: flex;
    border:1px solid green;
    width:80%;
    height:60px;
    background-color: cadetblue;
}
.admin-container>ul>li{
    list-style-type: none;
    padding: 10px;
    margin: 5px;
}
.admin-container>ul>li>a{
    text-decoration: none;
    color: white;
    /* margin: 10px; */
}
.form{
    width: 90%;
    margin:auto;
    border:1px solid red;
    text-align: center;
    padding: 50px;
}
.form>form>input,textarea{
    width:60%;
    border:none;
    border-bottom:1px solid rgb(7, 135, 97) ;
    margin:10px;
    /* height:20px; */
}
.form>form>label{
  font-weight: 700;

}