
.navbar{
    width:90%;
    margin:auto;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: black;
    margin:20px;
}
.product-div{
    width:100%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.items{
    display: inline-block;
    width:40%;
    height: 80px;
    border:1px solid red;
}
.items>div,img{
    display: inline-block;
    border: 1px solid black;
}
.items>.title{
    position: relative;
    top:-18px;
    border:1px dashed pink
;}
button{
    position:relative;
    top:20px;
    margin-right: 20px;
    float: right;
    padding: 10px;
    background-color: black;
    color: white;
}
.product-container{
    width:60%;
    margin:auto;
    border:1px solid black;
    display: flex;
}
.desc{
    display: flex;
    flex-wrap: wrap;
    width:60%;
    background-color: bisque;
}